        <div class="heading d_none">
            <div class="bando">
                <img class="" src="{{ asset('build/img/16-9/band1.png') }}" alt="back1">
                <div class="profil" >
                    <img src="{{ asset('build/img/square/profile.jpg') }}" alt="back1">
                </div>
                <div class="navigation">
                    {# <div class="butn butn-DL m-2 dayNight">☀️</div> #}
                    <div class="dropdown">
                        <button class="butn butn-succ dropdown-toggle m-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Menu
                        </button>
                        <ul class="dropdown-menu bg-dark">
                            <li><a href="#" class="butn butn-succ dayNight m-2">A PROPOS</a></li>
                            <li><a href="#" class="butn butn-succ dayNight m-2">OBJECTIF CDA</a></li>
                            <li><a href="#" class="butn butn-succ dayNight m-2">SYMFONY</a></li>
                            <li><a href="#" class="butn butn-succ dayNight m-2">EXPERIENCES</a></li>
                            <li><a href="#" class="butn butn-succ dayNight m-2">PRESENTATION</a></li>
                            <li><a href="#" class="butn butn-succ dayNight m-2">DOCUMENTS</a></li> 
                        </ul>
                    </div>
                </div>
                <div class="heading-content">
                    <h2>Yannick Tindy</h2>
                    <h5>42110 - FEURS / CIVENS Yannicktindy@gmail.com</h5>
                    <div class="block bg-dark m-1 p-2">
                        <h1>Développeur Web Fullstack</h1>
                        <h2>Back-End ++</h2>
                        <h3>Recherche un contrat en alternance pour le poste de :</h3>
                        <h3>Concepteur / Développeur d'Application (Bac+3/4)</h3>
                    </div>
                
                </div>
            </div>
            

        </div>