<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="dark">
        <div class="container disp-start p-0">
        {# ------------------------ side ------------------------     #}
            <div class="side fixed mx-3 mx-lg-5">
                <div class="side-menu">
                    <img src="{{ asset('build/img/9-16/back1.png') }}" alt="back1">
                    <div class="menu-content pad3">
                        <div class="profil mb-3" >
                            <img src="{{ asset('build/img/square/profile.jpg') }}" alt="back1">
                        </div>
                        
                        <div class="my-3">
                            <ul>
                                <li><div class="butn butn-DL m-2 dayNight">Mode ☀️</div></li>
                                <li><a href="#" class="butn butn-succ dayNight m-2">A PROPOS</a></li>
                                <li><a href="#" class="butn butn-succ dayNight m-2">OBJECTIF CDA</a></li>
                                <li><a href="#" class="butn butn-succ dayNight m-2">SYMFONY</a></li>
                                <li><a href="#" class="butn butn-succ dayNight m-2">EXPERIENCES</a></li>
                                <li><a href="#" class="butn butn-succ dayNight m-2">PRESENTATION</a></li>
                                <li><a href="#" class="butn butn-succ dayNight m-2">DOCUMENTS</a></li>                    
                            </ul> 
                        </div> 
                        
                    </div>

                </div>
            </div>
            {# ------------------------ nav ------------------------     #}

            {# ------------------------ content ------------------------     #}
            <div class="trunk-container px-0 px-md-5">
                <div class="trunk bk-dl px-3 px-md-5">
                    <section class="disp-col-start">

                        <div class="disp-between-top">
                            <div>
                                <h2 class="txt-succ py-3">Yannick Tindy</h2>
                            </div>
                            <div class="disp-col-center-end py-2">
                                <p class="txt-dl m-0">06 29 74 18 69</p>
                                <p class="txt-dl m-0">Mobilité Loire / Lyon</p>
                                <p class="txt-dl m-0">yannicktindy@gmail.com</p>
                                
                            </div>
                        </div>
                        {# <hr class="hr-dl"> #}

                        <div class="bando shadow-dl">
                            <img class="img-fluid" src="{{ asset('build/img/16-9/band1.png') }}" alt="back1">    
                            <div class="bando-txt p-3">
                                <h3 class="txt-lum">Développeur Web Junior </h3>
                                <h4 class="txt-lum">Fullstack / Back-End+</h4>
                            </div>
                        </div>
                        
                        <div class="disp-center mt-5 pt-3">
                            <div class="butn butn-glow p-3 text-center">
                                <h3 class="txt-succ">Recherche Alternance </h3>
                                <p class="txt-dl m-0">Concepteur / Développeur d'Application (Bac+3/4)</p>
                                <p class="txt-dl">Septembre 2023</p>
                            </div>
                        </div>
                    </section>
                </div>    
            </div>
        </div>

          


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
