.asideT1 {
    width: 400px;
    height: 100vh;


    .asideT1-block {
        position: relative;
        width: 100%;
        height: 100vh;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .asideT1-menu {
            position: absolute;
            top: 0;
            left: 0;
        }

    }
}

@media screen and (max-width: 800px) {
    .asideT1 {
        display: none
    }
}