

body {
    background: #000;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}


// aside --------------------------------------------------------
.aside-t1 {
    width: 400px;
    height: 100vh;


    .aside-t1-block {
        position: relative;
        width: 100%;
        height: 100vh;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .aside-t1-menu {
            position: absolute;
            top: 0;
            left: 0;
        }

    }
}

@media screen and (max-width: 1200px) {
    .aside-t1 {
        width: 300px;
    }    
}

@media screen and (max-width: 800px) {
    .aside-t1 {
        display: none
    }
}

// main --------------------------------------------------------
.main-t1 {
    width: 100%;
    display: flex;
    justify-content: center;

    .main-t1-trunk {
        width: 100%;
        max-width: 768px;
    }
}