<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
            {{ encore_entry_link_tags('t1') }}
            {{ encore_entry_link_tags('game') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('cardFlip') }}
        {% endblock %}
    </head>
    <body class="dark">
        <div class="fluid disp-center ">
            <div class="game-trunk">
                <img src="{{ asset('build/img/9-16/back1.png') }}" alt="" class="">
                <div class="game-trunk__content">
                    <div class="reverso-header disp-col-start mar1 pad1">
                        <h5>Reverso Score : <span id="score">0</span></h5>
                        <h6 class="txt-succ"><span class="reversoMsg">[ ]</span></h6>
                    </div>
                    <div class="dis-center-wrap">
                        {# ----------- map -------------------------------------------------------------- #}
                        <div id="1" class="card" name="dev1">
                            <div class="front">
                                <img src="{{ asset('build/img/square/logo512.png') }}" alt="" class="">
                            </div> 
                            <div class="back">
                                <img src="{{ asset('build/img/square/dev1.png') }}" alt="" class="">
                            </div>
                        </div>
                        <div id="2" class="card" name="dev3">
                            <div class="front">
                                <img src="{{ asset('build/img/square/logo512.png') }}" alt="" class="">
                            </div>
                            <div class="back">
                                <img src="{{ asset('build/img/square/dev3.png') }}" alt="" class="">
                            </div>
                        </div>
                        <div id="3"  class="card" name="dev5">
                            <div class="front">
                                <img src="{{ asset('build/img/square/logo512.png') }}" alt="" class="">
                            </div>
                            <div class="back">
                                <img src="{{ asset('build/img/square/dev5.png') }}" alt="" class="">
                            </div>
                        </div>
                        <div  id="4" class="card" name="dev2">
                            <div class="front">
                                <img src="{{ asset('build/img/square/logo512.png') }}" alt="" class="">
                            </div>
                            <div class="back">
                                <img src="{{ asset('build/img/square/dev2.png') }}" alt="" class="">
                            </div>
                        </div>
                        <div id="5" class="card" name="dev3">
                            <div class="front">
                                <img src="{{ asset('build/img/square/logo512.png') }}" alt="" class="">
                            </div> 
                            <div class="back">
                                <img src="{{ asset('build/img/square/dev3.png') }}" alt="" class="">
                            </div>
                        </div>
                        <div id="6" class="card" name="dev6">
                            <div class="front">
                                <img src="{{ asset('build/img/square/logo512.png') }}" alt="" class="">
                            </div>
                            <div class="back">
                                <img src="{{ asset('build/img/square/dev6.png') }}" alt="" class="">
                            </div>
                        </div>
                        <div id="7"  class="card" name="dev6">
                            <div class="front">
                                <img src="{{ asset('build/img/square/logo512.png') }}" alt="" class="">
                            </div>
                            <div class="back">
                                <img src="{{ asset('build/img/square/dev6.png') }}" alt="" class="">
                            </div>
                        </div>
                        <div  id="8" class="card" name="dev2">
                            <div class="front">
                                <img src="{{ asset('build/img/square/logo512.png') }}" alt="" class="">
                            </div>
                            <div class="back">
                                <img src="{{ asset('build/img/square/dev2.png') }}" alt="" class="">
                            </div>
                        </div> 
                        <div id="9" class="card" name="dev5">
                            <div class="front">
                                <img src="{{ asset('build/img/square/logo512.png') }}" alt="" class="">
                            </div> 
                            <div class="back">
                                <img src="{{ asset('build/img/square/dev5.png') }}" alt="" class="">
                            </div>
                        </div>
                        <div id="10" class="card" name="dev4">
                            <div class="front">
                                <img src="{{ asset('build/img/square/logo512.png') }}" alt="" class="">
                            </div>
                            <div class="back">
                                <img src="{{ asset('build/img/square/dev4.png') }}" alt="" class="">
                            </div>
                        </div>
                        <div id="11"  class="card" name="dev1">
                            <div class="front">
                                <img src="{{ asset('build/img/square/logo512.png') }}" alt="" class="">
                            </div>
                            <div class="back">
                                <img src="{{ asset('build/img/square/dev1.png') }}" alt="" class="">
                            </div>
                        </div>
                        <div  id="12" class="card" name="dev4">
                            <div class="front">
                                <img src="{{ asset('build/img/square/logo512.png') }}" alt="" class="">
                            </div>
                            <div class="back">
                                <img src="{{ asset('build/img/square/dev4.png') }}" alt="" class="">
                            </div>
                        </div>                                               
                        {# ----------- end map -------------------------------------------------------------- #}
                    </div>
                    <div class="reverso-header disp-center mar1 pad1">
                        <button class="butn butn-succ" id="restartButton">Rejouer</button>
                    </div>
                </div>
            </div>
        </div>
        {# ------------------------ script ------------------------     #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
