{% extends 'base.html.twig' %}

{% block title %}Hello ComponentCssController!{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('butnCloud') }}
        {% endblock %}

{% block body %}
    <div class="block pad1 mar2 radius1">
        <h1>Buttons glowing cloud</h1>
        <hr>

        <div class="butn butn-out butn-out-succ butn-cloud">Button 1</div>
        <div class="butn butn-out butn-out-succ butn-cloud">Button 2</div>
        <div class="butn butn-out butn-out-succ butn-cloud">Button 3</div>
        <div class="butn butn-out butn-out-succ butn-cloud">Button 4</div>

        <hr>

       

    </div>
{% endblock %}