body.dark {
  background-color: #000000;
  color: #ffffff;

  .block {
    background-color: var(--obsc);
    color: var(--primL);
  }

  .shadow-dl {
    box-shadow: 5px 5px 5px var(--primL);
  }

  // butn light
  .butn-DL {
    background-color: var(--primL);
    color: var(--primD);
    border: 2px solid var(--primL);
  }

  .butn-out-DL {
    background-color: transparent;
    color: var(--primL);
    border: 2px solid var(--primL);
  }

  .butn-out-DL:hover {
    background-color: var(--primL);
    color: var(--primD);
  } 

  .bk-dl {
    background-color: var(--obsc);
  }

  .txt-dl {
    color: var(--primL);
  }

  .hr-dl {
    border:  1px solid var(--primL);
  }
}