@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

.text1 {
    font-size: max(2.5vw, 1.5rem)
}
.text2 {
    font-size: max(2vw, 1rem)
}
.text3 {
    font-size: max(1.5vw, 0.8rem)
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: max(2.5vw, 2rem);
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: max(2.3vw, 1.8rem);
} 

h3 {
    font-family: 'Anton', sans-serif;
    font-size: max(2vw, 1.6rem);  
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: max(1.8vw, 1.6rem);  
}

h5 {
    font-family: 'Anton', sans-serif;
    font-size: max(1.5w, 1.4rem);  
}

h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: max(1.3vw, 1.2rem);  
}

p {
    font-size: max(1.2vw, 0.8rem);  
}

txt-tiny {
    font-size: max(0.8vw, 0.8rem);  
}


