body.light {
  background-color: #ffffff;
  color: #000000;

  .block {
    background-color: var(--lum);
    color:var(--primD);
  }  

  .shadow-dl {
    box-shadow: 0px 10px 10px var(--primD);
  }
    
    // butn light
    .butn-DL {
      background-color: var(--primD);
      color: white;
      border: 2px solid var(--primD);
    }

    .butn-out-DL {
      background-color: transparent;
      color: var(--primD);
      border: 2px solid var(--primD);
    }

    .butn-out-DL:hover {
      background-color: var(--primD);
      color: white;
    }
    
    .bk-dl {
      background-color: var(--lum);
    }

    .txt-dl {
      color: var(--primD);
    }

    .hr-dl {
      border: 1px solid var(--primD);

    }


  }




