.game-trunk {
    width: 100%;
    max-width: 576px;
    height: 100vh;
    position: relative;
}

.game-trunk img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-trunk__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.reverso-header{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}