<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
            {{ encore_entry_link_tags('t1') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="dark">
        <div class="fluid disp-start-top">
            <div>
                <asisde>
                    {% include "template1/t1-aside.html.twig" %}
                </aside>
            </div>
            <div class="fluid">
                <main class="fluid">
                    {% include "template1/t1-main.html.twig" %}
                </main>    

            </div>         
        </div>
        {# ------------------------ script ------------------------     #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>