.block {
    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

.radius1 {
    border-radius: 10px;
    overflow: hidden;
}