<aside class="block column">
    <img src="{{ asset('build/img/9-16/back1.png') }}" alt="back1" >

    <div class="menu p-3">
        <div class="butn butn-succ dayNight mar2">Mode Jour</div>
        <a href="{{ path('app_cv') }}" class="butn butn-succ dayNight mar2">CV</a>
        {# composant CSS ------------------------------------------------------ #}
        <div class="dropdown mar2"> 
            <button class="butn butn-succ dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Composants CSS
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('app_component_css') }}">Presentation</a></li>
                {# <li><a class="dropdown-item" href="{{ path('app_component_css_palette') }}">Palette</a></li> #}
                <li><a class="dropdown-item" href="{{ path('app_component_css_button') }}">Buttons</a></li>
                <li><a class="dropdown-item" href="{{ path('app_component_css_font') }}">Fonts VW</a></li>
                <li><a class="dropdown-item" href="{{ path('app_component_css_margin') }}">Margins VW</a></li>


            </ul>
        </div>
        {# composant Javascript ----------------------------------------------- #}
        <div class="dropdown mar2">
            <button class="butn butn-succ dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Composants JavaScript
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('app_component_js') }}">Presentation</a></li>
                <li><a class="dropdown-item" href="{{ path('app_component_js_btncloud') }}">Buttons Cloud</a></li>
            </ul>
        </div>
    </div>    
</aside>
    