<header>
        <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Menu
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {# Mode Jour/Nuit ------------------------------------------------------ #}
                <div class="btn btn-primary dayNight">Nuit</div>
                {# composant CSS ------------------------------------------------------ #}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Composants CSS
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_component_css') }}">Presentation</a></li>
                        {# <li><a class="dropdown-item" href="{{ path('app_component_css_palette') }}">Palette</a></li> #}
                        <li><a class="dropdown-item" href="{{ path('app_component_css_button') }}">Buttons</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_component_css_font') }}">Fonts VW</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_component_css_margin') }}">Margins VW</a></li>

                    </ul>
                </div>
                {# composant Javascript ----------------------------------------------- #}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Composants JavaScript
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_component_js') }}">Presentation</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_component_js_btncloud') }}">Buttons Cloud</a></li>
                        {# <li><a class="dropdown-item" href="#">Something else here</a></li> #}
                    </ul>
                </div>
                {# composant CSS ------------------------------------------------------ #}
                {# composant CSS ------------------------------------------------------ #}
                {# composant CSS ------------------------------------------------------ #}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</header>