{% extends 'base.html.twig' %}

{% block title %}Hello ComponentCssController!{% endblock %}

{% block body %}
    <div class="block pad1 mar2 radius1">
        <h1>Buttons</h1>
        <hr>

        <div class="butn butn-succ">Main Button</div>
        <hr>

        <div class="butn butn-out butn-out-succ">Main Outline Button</div>
        <hr>

        <div class="butn butn-succ butn-anim">Main Outline Button</div>
        <hr>

        <div class="butn butn-glow">Main Outline Button</div>
        <hr>

        <div class="butn butn-DL">Day/Night Button</div>
        <hr>

        <div class="butn butn-out-DL">Day/Night Outline Button</div>
        <hr>

    </div>
{% endblock %}