{% extends 'base.html.twig' %}

{% block title %}Hello ComponentCssController!{% endblock %}

{% block body %}
    <div class="block pad1 mar2 radius1">
        <h1>Responsive Fonts On VW</h1>
        <hr>

        <h1>H1 TEXT example</h1>
        <h2>H2 TEXT example</h2>
        <h3>H3 TEXT example</h3>
        <h4>H4 TEXT example</h4>
        <h5>H5 TEXT example</h5>
        <h6>H6 TEXT example</h6>
        <p>Paragraph TEXT example</p>
        {# <p class="txt-tiny">Paragraph TEXT tiny example</p> #}

    </div>
{% endblock %}