{% extends 'base.html.twig' %}

{% block title %}Hello ComponentCssController!{% endblock %}

{% block body %}
    <div class="block pad1 mar2 radius1">
        <h1>Margins & Paddings On VW</h1>
        <hr>

        <div class="bk-dark">
            <div class="bk-light mar1 pad1">
                <div class="bk-succ">
                    class: mar1
                </div>
            </div>
        </div>
        <hr>

        <div class="bk-dark">
            <div class="bk-light mar2 pad2">
                <div class="bk-succ">
                    class: mar2
                </div>
            </div>
        </div>
        <hr>

        <div class="bk-dark">
            <div class="bk-light mar3 pad3">
                <div class="bk-succ">
                    class: mar3
                </div>
            </div>
        </div>
        <hr>    


    </div>
{% endblock %}