.trunk-container {
    width: 100%;

    .trunk {
        max-width: 768px;
        height: 100vh;

        section {
            height: 100%;

        }

    }

}

.bando {
    position: relative;
    max-width: 768px;
    width : 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.bando-txt {
    position: absolute;
    top: 40%;
    left: 8%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}