// .heading {
//     display: none;
// }

// @media screen and (max-width: 768px) {
//     .heading {
//         display: block;
//         position: relative;
//         width: 100%;
//         height: 100vh;

//         .bando {
//             width: 100%;

//             img {
//                 width: 100%;
//                 height: 100%;
//                 object-fit: cover;
//             }
//         }

//         .profil {
//             width: 100%;
//             position: absolute;
//             top: 20px;
//             left: 20px;
            
    
//             img {
//                 width: 100px;
//                 height: 100px;
//                 border: 2px solid var(--succ);
//                 border-radius: 50%;
//             }
//         }

//         .navigation {
//             display:flex;
//             justify-content: end;
//         }
//     }
// }