.side {
    position: relative;
    width: 400px;
    height: 100vh;

    .side-menu {
        position: relative;
        max-width: 400px;
        height: 100vh;
    }

    .menu-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-around;

    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .profil {
        width: 100%;
        // display: flex;
        // justify-content: space-evenly;
        // align-items: center;
        

        img {
            width: 200px;
            height: 200px;
            border: 2px solid var(--succ);
            border-radius: 50%;
        }
    }
}


@media screen and (max-width: 1200px) {
    .side {
    
        .side-menu {
            width: 250px;
        }

        .profil {
            width: 150px;
            height: 150px;
        }
    }    

}

@media screen and (max-width: 900px) {
    .side {
        display: none
    }
}